<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="대여점.Properties.Settings.ConnectionString" connectionString="TNS_ADMIN=C:\app\OracleXE184_Win64\dbhomeXE\network\admin;USER ID=S5546938;PASSWORD=S5546938;DATA SOURCE=XEPDB1"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>